body {
  font-family: "Roboto Slab", serif;
  color: #3a3a3a;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
h1 {
  font-weight: bold;
  margin: 20px 0 0 0;
}
h3,
h4 {
  font-weight: lighter;
  margin: 0;
}
h4 {
  font-weight: 300;
}
h6 {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 14px;
}
h6 a {
  color: #576f86;
  text-decoration: none;
  font-weight: bold;
}
#description {
  text-transform: capitalize;
}
.weather-app {
  background: #fff;
  max-width: 630px;
  margin: 50px auto 20px auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: -1px 2px 20px 2px rgba(175, 165, 244, 0.62);
}
.search-button {
  background: #6c9896;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  background: transparent;
  border: 1px solid #6c9896;
  color: #000;
}
.location-button {
  max-height: 38px;
  background: #fff;
  border: 1px solid #6c9896;
  border-radius: 5px;
  padding: 7px 8px;
  color: #6c9896;
  transition: all 200ms ease-in-out;
}
.location-button:hover {
  background: #6c9896;
  color: #fff;
}
.currently-weather {
  text-align: center;
}
.currently-weather img {
  max-width: 80px;
}
.temperature {
  font-weight: bold;
  font-size: 58px;
  margin: 0;
}
.units {
  font-size: 20px;
  position: relative;
  top: -30px;
  left: 3px;
}
.units a {
  color: #685478;
}
.celsius-link,
.fahrenheit-link {
  text-decoration: none;
}
.celsius-link:active {
  color: #000;
}
.weather-block {
  margin: 20px 0;
  border-bottom: 1px solid #3a3a3a;
}
.weather-info {
  font-size: 20px;
}
.weather-info li {
  list-style: none;
}
.weather-info span {
  font-weight: 500;
}
.weather-option {
  font-size: 16px;
}
#feels-like,
#humidity,
#wind-speed {
  color: #e8694a;
  padding: 0 2px 0 5px;
}
.calendar-card {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.calendar-card:hover {
  background: rgba(92, 168, 255, 0.214);
}
.calendar-title {
  font-size: 18px;
}
.calendar-image img {
  max-width: 60px;
}
.calendar-temp {
  margin-top: 5px;
  font-weight: bold;
}
.calendar-temp span {
  opacity: 0.8;
}
.icon {
  max-width: 80px;
}
